<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>servlets.HelloServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddDepartment</servlet-name>
    <url-pattern>/addDepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDepartment</servlet-name>
    <servlet-class>servlets.AddDepartment</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RemoveDepartment</servlet-name>
    <url-pattern>/removeDepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveDepartment</servlet-name>
    <servlet-class>servlets.RemoveDepartment</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetAllDepartmentsServlet</servlet-name>
    <url-pattern>/listD</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllDepartmentsServlet</servlet-name>
    <servlet-class>servlets.GetAllDepartmentsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddNewPatient</servlet-name>
    <url-pattern>/addPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewPatient</servlet-name>
    <servlet-class>servlets.AddNewPatient</servlet-class>
  </servlet>

</web-app>
